@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Chat</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
	<script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
	<script src="~/SignalR/Hubs"></script>
</head>
<body>
	<div class="container">
		<h3>
			Chat
		</h3>

		<div class="row">
			<div class="col-sm-3">
				Name
			</div>
			<div class="col-sm-9">
				<input type="text" id="name" class="form-control" />
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				Message
			</div>
			<div class="col-sm-9">
				<input type="text" id="message" class="form-control" />
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-9">
				<button type="button" id="sendMessageButton" class="btn btn-primary">Send</button>
				<button type="reset" class="btn btn-secondary">Rest</button>
			</div>
		</div>

		<hr />

		<div id="messages">
		</div>
	</div>

	<script>

		$(document).ready(function () {

			// Declare a proxy to reference the hub.
			let chatHubProxy =
				$.connection.chatHub

			$.connection.hub.start()

				.done(function () {

					console.log($.connection.hub.id)

					$('div#messages').prepend('<br />Connection Started!')

					$('button#sendMessageButton').click(function () {

						let name =
							$('input#name').val()

						let message =
							$('input#message').val()

						// Call the [SendMessage] method in the [ChatHub] class in server.
						chatHubProxy.server.sendMessage(name, message)

					})

				})

				.fail(function ()
				{

					console.log('Could not Connect!')

				})

			// Create a javascript (client) function (method) for broadcasting by server.
			chatHubProxy.client.broadcastSendMessage = function (name, message) {

				let messageString =
					'<br /><b>' + name + ':</b> ' + message

				$('div#messages').prepend(messageString)

			}

		})

	</script>
</body>
</html>
